<div class="sidebar">
  <div class="container">
    <a href="{{ site.baseurl }}/">
    <img class="sidebar-logo" src="{{ site.baseurl }}/public/blueCAPE_logo_blue_background.png" alt="blueCFD logo">
    </a>

    <div class="sidebar-about">
      <h2>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/About">About</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/News">News</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/Downloads">Downloads</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/UserGuide">User Guides</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/ReleaseNotes">Release Notes</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/FAQ">Frequently Asked Questions</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.github.repo }}/issues">Issue Tracker</a>
      <span class="sidebar-nav-item">Latest: <b>blueCFD-Core {{ site.version }}</b></span>
    </nav>



    <p style="font-size: 0.95em;">&copy; <a href="http://www.bluecape.com.pt" target="_blank">FSD blueCAPE Lda</a> 2016-{{ site.time | date: '%Y' }}. All rights reserved.
    <br>
    Brought to you by <a href="http://fsdynamics.se">
    <img class="sidebar-fslogo" src="{{ site.baseurl }}/public/FS_Dynamics_logo_blue_background.png" alt="FS Dynamics logo">
    </a>
    </p>
  </div>
</div>
